
  #toprow, h1, h2, #bottomrow { background-color: white; 
  								              color: teal; 
  							              	text-align: center; 
  								              }

  h1 { background-color: #1a3174; 
       color: white; 
       width: 100%; 
       }

  #ljmulogo { align: left; 
              float: left; 
              height: 58px;
              } 

  #bottomrow { padding-top: 3em; }

  
  a:link.button-icon { 	filter: grayscale(100); 
  						          text-decoration: none;
  					          	}
  a:hover.button-icon { filter: grayscale(0); 
  					          	text-shadow: -0.05em 0.08em #aaa; 
  					          	}
  a:active.button-icon { 	filter: grayscale(0); 
  					          		text-shadow: -0.05em 0.08em #aaa; 
  						          	}

  .button-box { 	
  					min-height: 8em; 
  					vertical-align: center; 
          /* border: 0.75em solid #00205B; border-radius: 40px; box-shadow: -5px 8px lightgrey;	background-color: #eee;  */
   }
  					    						
  .button-label-text { font-size: 1.5em; 
                       margin-left: 1em; }

  .button-image { width: 100%; } 

  .emoji { font-size: 3em; 
           color: #00205B;}  




